/* Conteneur du carrousel en arrière-plan */
.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Derrière tout le contenu */
}

/* Adapter les images pour qu'elles couvrent tout l'écran */
.carousel-item img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    
}

/* S'assurer que le contenu reste au-dessus du background */
.navbar, .content {
    position: relative;
    z-index: 10;
    background-color: white;
}
